@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,800;1,100;1,400;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    
}
body{
    width: 100%;
    height: 100vh;
    
}
.img-form{
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: left;
    background-image:url('./img/decologin4.jpg');
    background-size: cover;
    
}
.form2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}
.form1{
    width: 50%;
    height: 100%;
    margin: 0;
    float: left;
    background: rgb(238, 214, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.enter{
    *margin: 20px;
    height: 35px;
    width: 80px;
    border-radius: 10px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.enter:hover{
    background-color: black;
    color: #fff;
}
.forgot{
    height: 35px;
    width: 95px;
    border-radius: 10px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}
.forgot:hover{
    background-color: black;
    color: #fff;
}
.mail, .contra{
    margin: 10px;
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 290px;
}
h1{
    *margin-bottom: 10px;
    font-weight: 400;
    font-size: 30px;

}
*h2{
    font-weight: 400;
    width: 300px;
    height: 50px;
    font-size: 17px;
    margin: 30px;
}
.img-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 280px;
    *margin-top: 10px;
}


@media  (max-width: 768px) {
    .img-form{
        display: none;
    }
    .form1{
        width: 100%;
        background: rgb(250,239,102);
background: linear-gradient(90deg, rgba(250,239,102,1) 0%, rgba(252,176,69,1) 67%);
    }
    .img-login{
        width: 100%;
        height: 180px;
    }
   
}